# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/

# CocoaPods (uncomment next line if you don't want Pods in git)
# Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Archives
*.xcarchive
